@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="Shortcut Icon" href="http://play28.mly.com/game/luck28/logo.ico">
    <link rel="Bookmark" href="http://play28.mly.com/game/luck28/logo.ico">
    <link href="/Content/css.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery-1.js"></script>
    <script src="/js/PubPage.js" type="text/javascript"></script>
    <title>玩游戏赚金币，做任务换奖品，就在乐游网-企鹅28</title>

    <meta name="Keywords" content="游戏体验 免费 网赚 幸运28">
    <meta name="description" content="玩游戏赚金币，做任务换奖品，就在乐游网">

    <meta http-equiv="Content-Type" content="text/html; charset=gbk">
    <style media="screen" type="text/css">
        #my_chart {
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div class="likebody mainbody">
        <div class="likebody">
           @Html.Action("RankRightList", "Shared", new { id = @ViewBag.Gameid })
            <link href="/Content/hamzs.css" rel="stylesheet">
            <div class="gamemain">

                <input value="50000000" id="maxzhi" type="hidden">
                @{
                    if (ViewBag.Gameid == 1)
                    {
                        @Html.Action("top", "Shared", null)
                    }
                    else if (ViewBag.Gameid == 2)
                    {
                        @Html.Action("Top", "Bj28", null)
                    }
                }
                <div class="tzbanner_z">
                    <div class="tzbanner_fk fk_tb">
                        <object style="visibility: visible;" id="my_chart" data="/Content/open-flash-chart.swf" type="application/x-shockwave-flash" height="128" width="392"><param value="data-file=/Content/bar.js" name="flashvars"></object>
                    </div>
                    <div class="tzbanner_fk fk_wz">
                        <table>
                            <tbody>
                                <tr>
                                    <td align="left" width="130">今日盈亏：@Html.Raw(ViewBag.Br)</td>
                                    <td align="left" width="">昨日盈亏：@Html.Raw(ViewBag.Zr)</td>
                                </tr>
                                <tr>
                                    <td height="" align="left">本周盈亏：@Html.Raw(ViewBag.Bz)</td>
                                    <td align="left">上周盈亏：@Html.Raw(ViewBag.sz)</td>
                                </tr>
                                <tr>
                                    <td height="" align="left">本月盈亏：@Html.Raw(ViewBag.Bm)</td>
                                    <td height="" align="left"> 上月盈亏：@Html.Raw(ViewBag.Qm)</td>
                                </tr>
                                <tr>
                                    <td height="" align="left">今年盈亏：@Html.Raw(ViewBag.BYY)</td>
                                    <td height="" align="left">去年盈亏：@Html.Raw(ViewBag.SYY)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <script type="text/javascript" src="/js/swfobject.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $('.tab').on('click', 'span', function () {
                            $(this).addClass('current');
                            $(this).siblings().removeClass('current');

                        });
                    });

                </script>
                <div>
                    <div class="tz-row">
                        <div class="tab">
                            <span class="current">按期盈亏</span>
                        </div>
                        <div class="fr">
                            <span>胜率: <em>@Html.Raw(ViewBag.Lv)</em>%</span>
                        </div>
                    </div>
                    <table class="tztable" align="center" cellpadding="0" cellspacing="1">
                        <thead>
                            <tr>
                                <th width="">投注期号</th>
                                <th width="">投注时间</th>
                                <th width="">开奖结果</th>
                                <th width="">我的投注额</th>
                                <th width="">获得金币</th>
                                <th width="">盈亏</th>
                                <th>详细</th>
                            </tr>
                        </thead>
                        <tbody>
                         
                                @Html.Raw(ViewBag.html)
                          
                        </tbody>
                    </table>
                    <div id="proPage">

                    </div>
                    <script type="text/javascript" language="javascript">
                    var pages = new createPage(@ViewData["pagesize"],"/Shty28/mytz/@ViewBag.Gameid/",@ViewData["total"],@ViewData["page"]);
                    pages.load();
                    </script>

                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
